# Core
streamlit>=1.25.0
requests>=2.31.0

# Google ADK & Vertex AI
google-cloud-aiplatform
google-auth>=2.23.0
websockets==15.0.1
google-genai==1.47.0 # ADK/GenAI client
google-adk==1.19.0

# Get dotev
python-dotenv>=1.0.0

# Optional (for structured output handling)
pandas>=2.1.0

 